<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="column">
            <!-- left side div -->
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="raj5.jpg" alt="thapa" class="img-fluid rajsa4" title="rajsa">
                        </figure>
                    </div>
                    <div class=" main_header_left align-items-center">
                        <p>Welcome To Rajsa World</p>
                        <h1>{{errorMsg}}</h1>
                        </h1>
                        <a href="/"><button>Go Back</button></a>


                    </div>
                </div>
            </div>
        </div>
    </div>                
                    
                        


                    
                    
                    <!-- right side div -->


                {{>footer}}
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                        crossorigin="anonymous"></script>


</body>

</html>